# LangChain Core
langchain
langchain_core
langchain_community


# OpenAI Integration
langchain-openai 
openai

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Anthropic
langchain_anthropic
anthropic

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

#Environment Variable Management
python-dotenv

#Machine Learning Utilities
numpy
scikit-learn

#Deep Learning
tensorflow
tf-keras
streamlit
boto3
Pillow
pydantic